* {
  font-family: Verdana, sans-serif;
}

.green{
  background-color: green;
  color: white;
  padding: 1% 1%;
  border-radius: 5px;
}

.red{
  background-color: red;
  color: white;
  padding: 1% 1%;
  border-radius: 5px;
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

.header {
  background-color: gray;
  color: white;
  padding: 1% 2%;
}

h1 {
  margin: 0;
}

.stocks {
  margin-top: 6%;
}

.Company {
  border: solid 2px gray;
  margin-top: 2%;
  padding: 3% 2%;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.display-flex p {
  margin: 0;
}

.footer {
  color: gray;
}

h2 {
  margin: 0;
}



.other-flex {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

input {
  font-size: 1.3rem;
  padding: 1.3% 3%;
  text-align: center;
  width: 25%;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #29272a;
  color: white;
}